<div class="chat position-relative text-muted show" id="chat">
    <div class="chatContent position-fixed bg-light p-3">
        <div class="row">
            <div class="col-md-7 text-dark"><h6>mai mohamed</h6></div>
            <div class="col-md-5 text-primary">
                <i class="fa fa-video-camera mr-2" aria-hidden="true"></i>
                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                <i class="fa fa-times" id="closeChat" aria-hidden="true"></i>
            </div>
            <div class="line"></div>
            <div class="message col-md-12 h-75 p-5"></div>
            <div class="line"></div>
            <div class="col-md-12 mt-1 mb-1">
              <input type="text" placeholder="Type a Message" class="w-100 border-0">
            </div>
            <div class="col-md-12 icons">
                <div class="col-md-9 float-left">
                <ul class="list-unstyled">
                    <li><i class="fa fa-picture-o" aria-hidden="true"></i></li>
                    <li><i class="fa fa-paperclip ml-3" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-camera ml-3" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-gamepad ml-3" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <div class="float-right col-md-2 text-primary">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
            <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
