<div class="dashboard " id="dashboard">
    <ul>
              <li data-class="chat" class="selected" id="dashboard-li"><a><img src="assets/images/01.jpg"><div></div><p>Dr.Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/04.jpg"><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/03.jpg"><p>Terry Akishe</p></a></li>
              <li data-class="chat"><a><img src="assets/images/09.jpg"><div></div><p>Poppa Cherry</p>
              </a></li>
              <li data-class="chat"><a><img src="assets/images/05.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/06.jpg"><div></div><p>Terry Akishe</p></a></li>
              <li data-class="chat"><a><img src="assets/images/07.jpg"><p>Poppa Cherry</p></a></li>
              <li data-class="chat"><a><img src="assets/images/08.jpg"><div></div><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/09.jpg"><div></div><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/02.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/04.jpg"><div></div><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/06.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/01.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/04.jpg"><div></div><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/06.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/04.jpg"><div></div><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/06.jpg"><p>Anna Mull</p></a></li>
              <li data-class="chat"><a><img src="assets/images/04.jpg"><div></div><p>Paul Molive</p></a></li>
              <li data-class="chat"><a><img src="assets/images/06.jpg"><p>Anna Mull</p></a></li>
          </ul>
          <div class="">
            <input type="text" placeholder="Search">
          </div>
  </div>
  
  